#toast-container > div {
  border-radius: 3px;
  box-shadow: none !important;
  opacity: none !important;
  background-image: none !important; 
}

#toast-container > div:hover {
  box-shadow: none !important;
  transform: none !important;
  
}

  .toast-success {
    background-color: rgb(12, 182, 85) !important; 
    color:white;
  }
  .toast-error {
    background-color: #d1182b !important;
    color: white;
  }
  .toast-warning {
    background-color: #ffc107 !important; 
    color: black;
  }
  .toast-info {
    background-color: #0dcaf0 !important; 
    color: black;
  }