#toast-container > div {
    border-radius: 2px;
    box-shadow: none;
    opacity: 1;
    background-image: none !important; 
  }
  #toast-container > div:hover {
    opacity: 1 !important;
    box-shadow: none !important;
    transform: none !important;
  }
 

  
  .toast-success {
    background-color: #16a562 !important; /* Bootstrap success green */
    color: white;
    
  }
  .toast-error {
    background-color: #dc3545 !important; /* Bootstrap danger red */
    color: white;
  }
  .toast-warning {
    background-color: #ffc107 !important; /* Bootstrap warning yellow */
    color: black;
  }
  .toast-info {
    background-color: #0dcaf0 !important; /* Bootstrap info blue */
    color: black;
  }